.Game__selection {
  padding: 30px;
}

.Game__selection>form>label {
  font-size: 15px;
}

.Game__selection>form>label>input {
  margin-left: 10px;
  padding: 5px;
  border-radius: 5px;
}

/* submit button */
.Game__selection>form>input {
  margin-left: 10px;
  cursor: pointer;
}

.Game__selection>form>input:disabled {
  margin-left: 10px;
  color: #888888;
  cursor: not-allowed;
}

.Game__notFound {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8a6d3b;
  background-color: #fcf8e3;
  border: solid 1px #faebcc;
  border-radius: 6px;
  line-height: 18px;
  overflow: hidden;
  padding: 12px;
  margin: 20px 10px;
  width: 200px;
}

.Game__selectSong {
  margin-top: 30px;
}

.Game__selectedSong {
  background: linear-gradient(90deg,
      #fd5afa 40%,
      #01FF89 100%);
  padding: 3px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  text-shadow: 1px 1px #000000;
  display: inline-block;
}

.Game__selectSongBtn {
  background: linear-gradient(90deg,
      #fd5afa 40%,
      #01FF89 100%);
  padding: 3px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  text-shadow: 1px 1px #000000;
  cursor: pointer;
}

.Game__selectSongBtn:hover {
  background: linear-gradient(90deg,
      #01FF89 40%,
      #fd5afa 100%);
}