.Game {
  padding-bottom: 50px;
}

.Game__songs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Game__songs>div {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8a6d3b;
  background-color: #fcf8e3;
  border: solid 1px #faebcc;
  border-radius: 6px;
  line-height: 18px;
  overflow: hidden;
  padding: 3px 10px;
  margin: 10px 20px;
}

.Game>button {
  margin: 10px 20px;
}

.Game>button:disabled {
  color: #888888;
}

.Game_master {
  margin-top: 50px;
  background: #989898;
  color: white;
  border-radius: 5px;
}