.Header {
  position: relative;
  height: 100%;
}

.Header__title {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  top: -330px;
  font-family: 'Mr Dafoe', cursive;
  font-size: 200px;
  margin: 160px 0 0 0;
  color: #EB219B;
  -webkit-text-fill-color: rgba(253, 90, 250, 1);
  text-shadow: -2px -2px 0 #FFBAF2;
  -webkit-filter: drop-shadow(3px 3px 1px #441F62);
  -webkit-transform: skew(-5deg,-5deg);
  font-weight: normal;
  z-index: 2;
}

.Header__gameId {
  display: flex;
  justify-content: flex-end;
  position: relative;
  font-family: 'Monoton', cursive;
  font-size: 80px;
  line-height: 1;
  margin: 150px 0 0 0;
  padding-right: 8vw;
  /* font-weight: normal; */
  background-image: -webkit-linear-gradient(#022486 0%, #0AD0FD 30%, #BDFCFC 40%, #D8FFFF 44%, #00081C 44%, #00081C 50%, #074A67 52%, #1CD8FE 60%, #7FEDFE 62%, #96F5FC 70%, #0FD8FA 73%, #0BD2FD 88%, #AFFDFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
}

.Header__gameId:before {
  position: absolute;
  content: '';
  left: 51px;
  top: 74px;
  width: 80px;
  height: 3px;
  background-image: -webkit-radial-gradient(#fff 0%, transparent 85%);
  z-index: 4;
  -webkit-animation-name: cop_before_effect;
  -webkit-animation-duration: 5s;
  -webkit-animation-delay: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

.Header__gameId:after {
  position: absolute;
  content: '';
  left: 90px;
  top: 32px;
  width: 3px;
  height: 80px;
  background-image: -webkit-radial-gradient(#fff 0%, transparent 85%);
  z-index: 4;
  -webkit-animation-name: cop_after_effect;
  -webkit-animation-duration: 5s;
  -webkit-animation-delay: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

.Header__warning {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a94442;
  background-color: #f2dede;
  border: solid 1px #ebccd1;
  border-radius: 6px;
  line-height: 18px;
  overflow: hidden;
  padding: 12px;
  margin: 10px 20px;
}

@media only screen and (max-width: 800px) {
  .Header__title {
    font-size: 20vw;
    margin-top: 30vw;
    top: -60vw;
  }

  .Header__gameId {
    font-size: 20vw;
    margin-top: 30vw;
  }
}