.dangerzone {
  color: red;
  font-weight: bold;
}

.table-container {
  border-radius: 8px;
  border: 1px solid #eee;
  margin: 1rem;
  display: inline-block;
}

table {
  border-collapse: collapse;
}

.songrow {
  border-top: 1px solid #eee;
  color: #555
}

thead {
  border-bottom: 2px solid #bbb;
  font-size: 0.9rem;
}

.songrow:last-child {
  border-bottom: 1px solid #eee;
}

.songrow td:first-child {
  color: #111;
  font-weight: 600;
}

.songrow td {
  padding: 1rem
}

.lyric-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.lyric-tag {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: center;
  margin-right: 0.2rem;
  padding: 0.3rem 0.6rem 0.3rem 0.6rem;
  background-color: #ffd6dd;
  border-radius: 16px;
}

.clickable-icon {
  cursor: pointer;
}