.Teams {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Team {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: 10px;
  flex-grow: 1;
}

.Team__title {
  display: flex;
  justify-content: center;
  padding: 10px;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 2px;
}

.Team--blue .Team__title {
  background-color: cornflowerblue;
}

.Team--red .Team__title {
  background-color: lightcoral;
}

.Team--green .Team__title {
  background-color: mediumseagreen;
}

.Team--yellow .Team__title {
  background-color: gold;
}

.Team--purple .Team__title {
  background-color: mediumpurple;
}

.Team__points {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.Team__points>button {
  border: 1px solid #fecdfe;
  border-radius: 3px;
  font-size: 25px;
  font-weight: bold;
  font-family: arial, helvetica, sans-serif;
  padding: 1px 11px;
  text-decoration: none;
  display: inline-block;
  color: #000000;
  background-image: linear-gradient(to bottom, #fecdfe, #fe81fc);
}

.Team__points>button:hover {
  border: 1px solid #fe9afc;
  background-image: linear-gradient(to bottom, #fe9afc, #fd5afa);
}

.Team__points>div {
  color: #00ed97;
  text-transform: uppercase;
  font-size: 70px;
  font-family: 'Bangers', cursive;
  text-shadow: 5px 5px 0 rgba(254, 251, 0, 0.7);
  min-width: 80px;
  text-align: center;
  padding-right: 10px;
}
